html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-weight: 500;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

p {
	font-size: 1.5rem;
	line-height: 27px;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.main-div {
	height: 100%;
}

.fab--absolute {
  position: fixed !important;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.mdc--primary-override {
	background-color: #23a07b !important;
}
